{% load static %}
{% load tz %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}SharingCloudTest{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script language="javaScript">
            function change_background(color){
                document.bgColor = color;
            }
    </script>
</head>
<body>
    
    <div id="head_div">
    {% localtime on %}
    {%block logout%}
        <div style="width:10%;text-align: center;float:right;padding-top:20px;">
            <a class="cust_button" href="/connect">Logout {{username}}</a>
        </div>
    {%endblock%}
    </div>

    {%block content%}
    Plateforme de réservation booking de sharing crowd HEHRHEHR
    {%endblock%}
    {%endlocaltime%}
</body>
</html>
