    {% extends "base.html" %}
    <!DOCTYPE html>
    <html>
    <head>
    </head>
    <body>
        {%load tz%}
        {%block content%}
        <div class="centered_div">
            <h2> {{welcome}} <span style=" color:lightgreen;">{{user_profil}}</span></h2> 
            <div class="date"> {{today}}</div>
            <div class="date"> {{zone}} ({{user_language}})</div>
            
            <br>
            <h3> Réservations </h3>
            <p class="basic">{{infos}}</p>
            <table>
                <tr>
                    <th style="width:5%">Status</th>
                    <th style="width:30%;">Label</th>
                    <th style="width:15%;">Ressource</th>
                    <th style="width:20%;">Start</th>
                    <th style="width:20%;">End</th>
                    <th style="width:5%;"></th>
                    <th style="width:5%;"></th>
            </tr>   
            {% for res in reservation_list %}
                <tr class="clickable">
                    <td style="text-align: center;">
                            <span class="dot" style="background:{{res.get_status_display}};"></span>
                    </td>
                    <td>
                        {%if user.is_staff %}
                            <span style=" color:rgb(142, 211, 142);">[{{res.author}}]</span>
                        {%endif%}
                        {{res.title}}
                    </td>
                    <td>{{res.ressource}}</td>
                    <td>{{res.start_date|localtime}}</td>
                    <td>{{res.end_date|localtime}}</td>
                    <td style="text-align:center;">
                        {%if res.status == "Incoming"%}
                            <a href="/booking/modify/{{res.id}}">modify</a>
                        {%endif%}
                    </td>
                    <td style="text-align:center;">
                        {%if res.status == "Passed" or res.status == "Incoming" %}
                            <a href="/booking/delete/{{res.id}}">X</a>
                        {%endif%}
                    </td>
                </tr>
            {% endfor %}
            </tr> 
        </table>
        <div style="margin-top:20px;padding-left:70%;">
            <a id="add_resa" class="cust_button" href="/booking"> Ajouter une réservation </a>
        </div>

        <br>
        <h3> Ressources Disponibles </h3>
            <table>
                <tr>
                    <th style="width:40%;">Name</th>
                    <th style="width:20%;">Type</th>
                    <th style="width:20%;">Location</th>
                    <th style="width:15%;">Capacity</th>
                    <th style="width:5%;"></th> 
                </tr>   
                {% for resrc in ressource_list %}
                    <tr class="clickable">
                        <td>{{resrc.name}}</td>
                        <td>{{resrc.get_res_type_display}}</td>
                        <td>{{resrc.location}}</td>
                        <td style="text-align:center;">{{resrc.capacity}}</td>
                        {%if user.is_staff %}
                        <td style="text-align:center;"><a href="/ressource/delete/{{resrc.id}}">X</a></td>
                        {%endif%}
                    </tr>
                {% endfor %}
                </tr> 
            </table>
            {%if user.is_staff %}
            <div style="margin-top:20px;padding-left:70%;">
                    <a id="add_resrc" class="cust_button" href="/ressource"> Ajouter une ressource </a>
            </div>
            {%endif%}
    </div>
        
    {%endblock%}
</body>

</html>
