{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>

    {%block logout%}
    {%endblock%}
    {%block content%}
    <div class="centered_div">
        <h3 style="text-align: center;">CONNEXION</h3>
    
        <form method="post">
        {% csrf_token %} <!--security ensurance-->
            <p><label for="username"></label> <input type="text" name="username" maxlength="50" placeholder="Username" /></p>
            <p><label for="password"></label> <input type="text" name="password" maxlength="50" placeholder="Password" /></p>
            {% if error %}<p class="login_KO"> {{error_message}} </p> {% endif %}
            {% if error == False %} <p class="login_OK"> You are welcome {{username}}</p>{% endif %} 
    
            <input type="submit" value="Submit" />
        </form>
    </div>
    {%endblock%}
</body>
</html>
