body{
    background-color: black;
    color:white;
    font-family: "Arial", Times, serif;
}

#head_div{
    height:100px;
}

.centered_div{
    padding-left: 20%;  
    padding-right:20%;
    border-color: white;
}
    
h2{
    text-align:center;
}

.basic{
    font-size:90%;
}
.date{
    font-size: 70%;
    font-style: italic;
    text-align: center;
}

.login_KO{
    color:lightcoral;
    font-size:70%;
}

.login_OK{
    color:lightgreen;
    font-size:70%;
}

form{
    text-align: center;
    margin-top:50px;
    margin-left:30%; 
    margin-right:30%;
}

input[type="text"],
input[type="date"], 
input[type="number"]{
    width:100%;
    text-align: center;
    background-color: black;
    color: grey;
    border:none;
    border-bottom: 1px dotted #222;
}

table {
    width:100%;
    margin-top:20px;
    border:none;
}

th{
    border-bottom: 1px solid #333;
}

td{
}
table td{
    white-space:nowrap;
}

.clickable:hover{
    background-color:#333;
}

td a{
    text-decoration:none;
    font-size:80%;
    color:lightgray;
}
td a:hover{
    text-decoration:bold;
}

.cust_button{
    background-color: #333;
    color:lightgrey;
    border:1px solid #222;
    text-decoration: none;  
    border-radius: 5px;
    padding: 5px; 
}
.cust_button:hover{
    background:#222;
    color: white;
}

select{
    width:100%;
    background:black;
    border:1px solid #222;
    color:#333;
}
select option{  
    color:#333;
}

#ad_resa{
    position: relative;
    margin-top:20px;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
  }
