{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    {%block content%}
    <div class="centered_div">

        <h2>AJOUTER UNE RESERVATION</h2>

        <form method="post">
            {% csrf_token %} 
            <p><label for="id_titre"></label>
                 <input id="id_titre" type="text" name="title" maxlength="100" placeholder="Titre de la réservation"/>    
            </p>
            
                <label for="id_ressource"></label>
                <p style="color:#333;margin-bottom:0px;"> Sélection Ressource </p>
                <select name="ressource">
                        {% for resrc in ressources %}
                        <option  value="{{resrc.id}}">{{resrc.id}}-{{resrc.name}}</option>
                        {% endfor %}
                </select>
                <div style="float:left;">   
                    <label for="id_start_date"></label>
                        <p style="color:#333; margin-bottom:0px;"> début </p>
                        <input id="id_start_date" type="date" name="start_date"/>
                </div>

                <div style="float:right;">
                    <label for="id_end_date"></label>
                        <p style="color:#333;margin-bottom:0px;"> fin </p>  
                        <input id="id_end_date" type="date" name="end_date"/>
                </div>
                
                <div style="font-size:70%;color:rgb(245, 71, 71);">
                    <p style="color:rgb(245, 71, 71);">{{error_message}}</p>
                </div>

            <div style="padding-top:100px;">
                <input class="cust_button" type="submit" value="Submit"/>
                <a class="cust_button" href="/home">Cancel</a>
            </div>
        </form>
    </div>
    {%endblock%}
</body>
</html>
