{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    {%block content%}
    <div class="centered_div">

        <h3 style="text-align: center;">AJOUTER UNE RESSOURCE</h3>
        <div class="date"> {{time}}</div>

        <form method="post">
            {% csrf_token %} 
            <p><label for="id_name"></label>
                <input id="id_name" type="text" name="name" maxlength="50" placeholder="Nom de la ressource"/>    
            </p>
            <p><label for="id_location"></label>
                <input id="id_location" type="text" name="location" maxlength="50" placeholder="Adresse"/>    
            </p>

            <p><label for="id_capacity" class="resrc_selector"></label>
                <input id="id_capacity" type="number" name="capacity" maxlength="50" min="1" max="10" placeholder="Capacité"/>    
            </p>
            <p style="color:#333;margin-bottom:0px;"> Type de Ressource </p>
            <select name="res_type">
                {% for r in ressource_types %}
                    <option value="{{r.0}}">{{r.1}}</option>
                {%endfor%}
            </select> 

            <div style="padding-top:100px;">
                <input class="cust_button" type="submit" value="Submit"/>
                <a class="cust_button" href="/home">Cancel</a>
            </div>
        </form>
    </div>
    {%endblock%}
</body>
</html>
